<h1> hi </h1>

<form action="/random/results">
  <div><label for="Minimum">Minimum</label></div>
  <input id="Minimum" type="text" placeholder="E.g. 1.5" name="user_min">
  <div><label for="Maximum">Maximum</label></div>
  <input id="Maximum" type="text" placeholder="E.g. 4.5" name="user_max">
  <button>Pick random number</button>
</form>
