<h1> hi </h1>

<form action="/square/results">
  <label for="Square">Enter a number</label>
  <input id="Square" type="text" placeholder="What number do you want to square?" name="number">


  <button>Calculate square</button>
</form>
